<ion-header>
  <ion-navbar color="dark"><ion-title>
      สินค้า
  </ion-title></ion-navbar>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</ion-header>
<ion-content style="background-color:rgb(224, 220, 220)">
   
        <ion-segment [(ngModel)]="tpye" >
            <ion-segment-button value="" (click)="getBooklist()">
                ทั้งหมด
              </ion-segment-button>
            <ion-segment-button value="T001" (click)="getBooklist()">
              สารคดี
            </ion-segment-button>
            <ion-segment-button value="T002" (click)="getBooklist()">
              บันเทิง
            </ion-segment-button>
            <ion-segment-button value="T003" (click)="getBooklist()">
              วารสาร
            </ion-segment-button>
            <ion-segment-button value="T004" (click)="getBooklist()">
              นิตสาร
            </ion-segment-button>
          </ion-segment>
            <div [ngSwitch]="tpye" >
        <!--
          <ion-row>
            <ion-col col-9>
              <ion-item>
                <ion-label floating>Search</ion-label>
                <ion-input type="text"  [(ngModel)]="search"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-3> <button ion-button large icon-start block  (click)="getBooklist()">ค้นหา</button></ion-col>
          </ion-row>
        -->
        <ion-list *ngSwitchCase="''" full >
          <ion-grid class="grid-categories">
            <ion-row *ngFor="let book of dataall ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
              <ion-col class="border" *ngIf="index % 2 != 0 ">
                  <ion-row>
                      <ion-col col-12><img [src]=book.bookImg></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                    </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class="grid-categories">
              <ion-row *ngFor="let book of dataall ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                <ion-col  class="border" *ngIf="index % 2 == 0 ">
                    <ion-row>
                        <ion-col col-12><img [src]=book.bookImg></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                      </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
                    <ion-list *ngSwitchCase="'T001'" >
                        <ion-grid class="grid-categories">
                            <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                              <ion-col class="border" *ngIf="index % 2 != 0 ">
                                  <ion-row>
                                      <ion-col col-12><img [src]=book.bookImg></ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                                    </ion-row>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <ion-grid class="grid-categories">
                              <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                                <ion-col  class="border" *ngIf="index % 2 == 0 ">
                                    <ion-row>
                                        <ion-col col-12><img [src]=book.bookImg></ion-col>
                                      </ion-row>
                                      <ion-row>
                                        <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                                      </ion-row>
                                      <ion-row>
                                        <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                                      </ion-row>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
          </ion-list>
        
          <ion-list *ngSwitchCase="'T002'">
              <ion-grid class="grid-categories">
                  <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                    <ion-col class="border" *ngIf="index % 2 != 0 ">
                        <ion-row>
                            <ion-col col-12><img [src]=book.bookImg></ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                          </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid class="grid-categories">
                    <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                      <ion-col  class="border" *ngIf="index % 2 == 0 ">
                          <ion-row>
                              <ion-col col-12><img [src]=book.bookImg></ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                            </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
          </ion-list>

          <ion-list *ngSwitchCase="'T003'">
              <ion-grid class="grid-categories">
                  <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                    <ion-col class="border" *ngIf="index % 2 != 0 ">
                        <ion-row>
                            <ion-col col-12><img [src]=book.bookImg></ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                          </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid class="grid-categories">
                    <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                      <ion-col  class="border" *ngIf="index % 2 == 0 ">
                          <ion-row>
                              <ion-col col-12><img [src]=book.bookImg></ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                            </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
          </ion-list>
          <ion-list *ngSwitchCase="'T004'">
              <ion-grid class="grid-categories">
                  <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                    <ion-col class="border" *ngIf="index % 2 != 0 ">
                        <ion-row>
                            <ion-col col-12><img [src]=book.bookImg></ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                          </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid class="grid-categories">
                    <ion-row *ngFor="let book of datalist ;let index = index" (click)="boookid=book.bookID ;gotoDetail()">
                      <ion-col  class="border" *ngIf="index % 2 == 0 ">
                          <ion-row>
                              <ion-col col-12><img [src]=book.bookImg></ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-12>{{book.bookName.substr(0,20)}}...</ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-12>ราคา: {{book.bookPrice}}._</ion-col>
                            </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
          </ion-list>
        </div>
<!--
        <ion-card *ngFor="let book of datalist">
            {{book.bookImg}}
              <img  src="assets/imgs/book2.png" width="30%" height="30%">
              <ion-card-content>
                <ion-card-title>
                    ชื่อหนังสือ: {{book.bookName}}
                  </ion-card-title>
                <p>
                    ผู้เเต่ง: {{book.bookAuthor}} <br>
                    ปีที่ผลิต: {{book.bookYear}} <br>
                    ราคา: {{book.bookPrice}} <br>
                    จำนวนหนังสือ: {{book.bookAmount}} <br>
                </p>
                <ion-row align="center">
                 <ion-col><button ion-button block color="danger"> <ion-icon name="md-cart" md="md-cart" padding="1px"></ion-icon>สั่งซื้อ</button></ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>-->
</ion-content>
